body{
    background-color: rgba(121, 175, 116, 0.69);
}

.clock{
    position: relative;
    padding: auto;
    margin: 5% 25% 5% 25%; 
    width: 800px;
    height: 500px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    padding-top: 100px;
    border: 10px solid  rgb(121, 175, 116);;
    border-radius: 10px;
}
.heading{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: rgb(74, 117, 74);
    color: white;
    text-align: center;
}
.text{
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(94, 102, 113);
}
img{
    margin-top: 10px;
    padding: 1px;
    height: 35px;
}